<!-- dashboard/dashboard.html -->
{% extends 'dashboard/baseDashboard.html' %}

{% block title %}Sistema ETE{% endblock %}

{% block content %}

    <div class="px-6 py-6">
            <div class="grid grid-cols-3 gap-3">
                <a href='/dashboard/filtros.e.aeradores'> <img src="https://i.ibb.co/pPwB35n/Captura-de-tela-2023-08-01-030028.png"/>
                    <div class="p-6 bg-white rounded-b-xl">
                        <h class="aspect-square rounded-md drop-shadow-md px-2 py-1 bg-blue-500 text-white font-bold border-2 text-3xl">Aeradores e Filtros </h>

        </div>
    </div>
{% endblock %}