<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.20/dist/sweetalert2.all.min.js"></script>
    <title>{% block title %}{% endblock %}</title>
    <!-- Coloque aqui os links para os arquivos CSS e scripts que você precisa, como o CSS do Tailwind CSS, por exemplo -->
</head>
<body>
    {% block content %}
    {% endblock %}
</div>
</body>
</html>