<!-- base.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>{% block title %}{% endblock %}</title>
    <!-- Coloque aqui os links para os arquivos CSS e scripts que você precisa, como o CSS do Tailwind CSS, por exemplo -->
</head>
<body>
<nav class="py-6 px-6 flex justify-between items-center border-b border-gray-200 bg-blue-600">
    <a href="#" class="text-5xl font-bold text-white px-10">Sistema ETE</a>
</nav>
<div class="px-6 py-6">
    {% block content %}
    {% endblock %}
</div>
</body>
</html>