<!doctype html>

<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="https://cdn.tailwindcss.com"></script>

    <title>{% block title %} {% endblock %}</title>
</head>

<body>
<nav class="py-6 px-6 flex justify-between items-center border-b border-gray-200 bg-blue-500">
    <a href="#" class="text-5xl font-bold text-white px-10">Sistema ETE</a>
    <div class="space-x-6 px-20">
        <a href="#" class="text-white text-2xl font-semibold hover:text-gray-500" >Olá meu amigo!</a>
        <a href="#" class="text-white text-3xl font-semibold hover:text-gray-100">⚙️</a>
        <a href="#" class="text-white text-3xl font-semibold hover:text-gray-100">🔔</a>
    </div>
</nav>
<div class="py-4 px-6 flex justify-between items-center mb-10 border-2 border-b-black-500 border-x-white border-t-white">
    <div>
        <label class="relative block">
            <span class="sr-only">Search</span>
            <span class="absolute inset-y-0 left-0 flex items-center pl-2">
          <svg class="h-5 w-5 fill-slate-300" viewBox="0 0 20 20"><!-- ... --></svg>
        </span>
            <input class="placeholder:italic placeholder:text-slate-400 block bg-white w-full border border-slate-300 rounded-md ml-10 py-2 pl-9 pr-3 shadow-sm focus:outline-none focus:border-sky-500 focus:ring-sky-500 focus:ring-1 sm:text-sm" placeholder="Pesquise..." type="text" name="search"/>
        </label>
    </div>
    <div class="mr-20">
        <span class="font-semibold font-lg mr-2">Avisos</span>
        <a href="#" class="aspect-square rounded-md px-2 py-1 border-2 border-gray-800">0</a>
    </div>
</div>
{% block content %}{% endblock %}
</body>
</html>