<!-- dashboard/dashboard.html -->
{% extends 'dashboard/baseDashboard.html' %}

{% block title %}Sistema ETE{% endblock %}

{% block content %}

    <div style="display: flex; justify-content: center; align-items: center; height: 100vh;">
        <div style="text-align: center;">
            <a href="/dashboard/controlar">
                <img src="https://img.freepik.com/vetores-premium/controle-remoto-na-planta-fluxo-de-trabalho-inteligente-da-fabrica-de-correias-transportadoras-trabalho-de-mao-de-robo-de-controle-de-personagem-de-trabalhador-na-linha-de-montagem-processo-de-automacao-de-fabricacao-de-producao-ilustracao-em-vetor-desenho-animado_87771-15101.jpg" alt="Dashboard de Controle" style="width: 300px; height: 200px;">
                <p>Clique para acessar o Dashboard de Controle</p>
            </a>
            <a href="/dashboard/analisar">
                <img src="https://img.freepik.com/vetores-premium/ilustracao-em-vetor-conceito-abstrato-de-quimica-do-solo-analise-quimica-do-solo-biorremediacao-problema-ambiental-nivel-de-poluicao-de-servico-de-laboratorio-quimica-agricola-metafora-abstrata_335657-6327.jpg?w=2000" alt="Monitoramento e Análise" style="width: 300px; height: 200px;">
                <p>Clique para acessar o Monitoramento e Análise</p>
            </a>
        </div>
    </div>

{% endblock %}
