<!doctype html>

<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <script src="https://cdn.tailwindcss.com"></script>

        <title>{% block title %} {% endblock %} | Puddle</title>
      </head>

      <body>
        <nav class="py-8 px-20 flex justify-between items-center border-b border-gray-200 bg-blue-500 text-white"> 
            <a href="/" class="text-xl">🡸</a>

            <div class="space-x-6"> 
                <a href="/" class="text-2xl font-bold hover: text-black-500">Nome do Ativo</a>
            </div>
        </nav>

        <div class="px-20 py-3 flex justify-between border-2 border-b-gray-200 border-x-white border-t-white">
            <h1 class="font-semibold text-md border-2 border-gray-800 p-1 rounded-md">Categoria +</h1>
                <a href="/" class="text-md font-semibold hover: text-black-500 border-2 border-gray-800 p-1 rounded-sm">Dia ▲ | Mes ▲ | Ano ▲</a>
        </div>

                    <div class="grid grid-cols-4 gap-10 mx-20 my-5">
                        <img class= "w-full aspect-square drop-shadow-md border-2 border-gray-200 rounded-md" src="https://static.significados.com.br/foto/grafico-coluna-cke.jpg" />
                        <img class= "w-full aspect-square drop-shadow-md border-2 border-gray-200 rounded-md" src="https://conteudo.imguol.com.br/c/noticias/a1/2021/11/22/stonks-significado-1637616290106_v2_900x506.jpg" />
                        <img class= "w-full aspect-square drop-shadow-md border-2 border-gray-200 rounded-md" src="http://educa.fcc.org.br/img/revistas/rbpae/v34n3//2447-4193-rbpae-34-03-749-ch1.jpg" />
                        <img class= "w-full aspect-square drop-shadow-md border-2 border-gray-200 rounded-md" src="https://ava.tcees.tc.br/pluginfile.php/78951/mod_book/chapter/1191/Figura%2014%20-%20Excel%20-%20parte%202.jpg" />
                    </div>
    </body>
</html>